{{extend 'layout.html'}}
<div class="gestion">
    <div class="titreGestion">Gestion des budgets</div>
    
    <div class="divOfBouton">
        {{if addBudget==True:}}
           {{=A('Ajouter un budget',_href=URL('addBudget'),cid=request.cid, _class='styleBouton')}}
        {{pass}}
        {{=A('Exporter vers Excel', callback=URL('export2Budget'), _class='styleBouton')}}
    </div>
    
    <div class="web2py_grid ui-widget gridBudget">

        <div class="titreBudget">Budgets en cours</div>
        
      <table>
          <thead>
                      <TR class="ui-widget-header"><TH class="ui-state-default">Entité</TH><TH class="ui-state-default">Date</TH><TH class="ui-state-default">Budget initial</TH><TH class="ui-state-default"></TH></TR>
          </thead>

        {{for row in newBudgets: }}
            <tr>
                <td>
                    {{=entiteService.getNameOfEntite(row.get('entite_id'))}}
                </td>
                <td>
                    {{=budgetService.formatDate(row.get('date_budget'))}}
                </td>
                <td>
                    {{=row.get('budget_initial')}} €
                </td>
                <td>
                    {{=A('Detail', _href=URL("budget","detailBudget",vars=dict(idBudget=row.get('id'))))}}
                </td>
            </tr>
        {{pass}}
        
        
    </table>

        
    </div>

        <div class="titreBudget">Historique des budgets</div>
        {{=gridAllBudget}}
    
</div>
