{{extend 'layout.html'}}
<div class="gestion">
    
     {{include 'frises.html'}}

     {{if gestionPJs == True:}}
        <ul class="addButton"><li>{{=A('Ajouter une pièce jointe',_href=URL('addPJs',vars=dict(idDossier=request.vars.idDossier)),cid=request.cid, _class='linkAction inline')}}</li></ul>
    {{pass}}

    {{=gridPJ}}
   {{=A('Retour',_href=URL('achat','gestionProduits',vars=dict(idDossier=request.vars.idDossier)),cid=request.cid)}}
    
   {{if initDossier == True:}}
        {{=A('Suivant', _href=URL('projet','finalisationDemande',vars=dict(idDossier=request.vars.idDossier)),cid=request.cid)}}
    {{pass}}
</div>
